/* SIDEBAR */
.sidebar{
    width: 35%;
    max-width: 415px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.search{
  /* background-color: #f6f6f6; */
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}

.search-input{
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search-input input{
  flex: 1;
  border: 0;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

.chatlist{
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}

.chatlist::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb{
  background-color: rgb(0,0,0, 0.2)
}